<ion-content class="ion-padding">
  <form [formGroup]="ChangePasswordForm">
    <ion-list>
      <ion-item *ngIf="showPassword">
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
        <ion-icon slot="end" color="danger" name="eye" (click)="togglePasswordText()"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!showPassword">
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-icon slot="end" color="medium" name="eye-off" (click)="togglePasswordText()"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-msg"
            *ngIf="ChangePasswordForm.get('password').hasError(validation.type) && ChangePasswordForm.get('password').touched">
            <span class="error">{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item *ngIf="showConfirmPassword">
        <ion-label position="floating" color="primary">Confirm Password</ion-label>
        <ion-input type="text" formControlName="cpassword" ></ion-input>
        <ion-icon slot="end" color="danger" name="eye" (click)="toggleConfirmPasswordText()"></ion-icon>
      </ion-item>

      <ion-item *ngIf="!showConfirmPassword">
        <ion-label position="floating" color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="cpassword"></ion-input>
        <ion-icon slot="end" color="medium" name="eye-off" (click)="toggleConfirmPasswordText()"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.cpassword">
          <div class="error-msg"
            *ngIf="ChangePasswordForm.get('cpassword').hasError(validation.type) && ChangePasswordForm.get('cpassword').touched">
            <span class="error">{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

    </ion-list>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="secondary" (click)="ChangePasswordFormF()">Change Password</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="cancel()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>